body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  border: 0;
  font-size: 3rem;
  font-family: sans-serif;
  padding: 20px 40px;
  background-color: #9C27B0;
  color: white;
  border-bottom: 6px solid #7B1FA2;
  outline: 0;
}

button:hover {
  cursor: pointer;
}
button:active {
  transform: translatey(2px);
  border-bottom: 3px solid #7B1FA2;
}
